/* About Styling */
.about {
  background-color: #E2E8D4;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.about h2 {
  color: #395500;
  border-bottom: 1px solid black;
  display: inline-block;
}

.footer {
  background-color: #395500;
}

.footer li {
  padding: 50px;
  color: #E2E8D4;
}

.footer li a {
  color: #E2E8D4;
}

.footer li a:hover {
  color: white;
}

/* accommodations Styling */
.accommodations {
  background-color: #E2E8D4;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.accommodations h2 {
  color: #395500;
  border-bottom: 1px solid black;
  display: inline-block;
}

/* Activities Styling */
.activities {
  background-color: #E2E8D4;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.activities p {
  text-align: left;
}

.activities h3 {
  font-style: normal;
  color: #395500;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}

.activities h2 {
  color: #395500;
  border-bottom: 1px solid black;
  display: inline-block;
}

/* Contact Styling */
.contact-info {
  background-color: #E2E8D4;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.contact-info h2 {
  color: #395500;
  border-bottom: 1px solid black;
  display: inline-block;
}

/* Photo Gallery Styling */
.photo-gallery {
  background-color: #E2E8D4;
  padding-bottom: 10px;
  margin-top: 30px;
}

.photo-gallery h2 {
  color: #395500;
  border-bottom: 1px solid black;
  display: inline-block;
}

.photo-gallery li {
  padding: 0px;
}

.photo-gallery ul {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #789F35;
  color: #395500;
  text-align: center;
  font-family: Verdana, sans-serif;
}

h1 {
  font-family: cursive;
  font-size: 60px;
}

h3 {
  font-style: italic;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #395500;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}
